{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('index') }}" method="POST">

  <div class="mb-3">
    <label for="exampleInputLender" class="form-label">Відправник</label>
    <input type="Lender" class="form-control" id="exampleInputLender" placeholder="Багач" name="lender" value="{{ request.form.get('lender', '') }}">

  </div>

  <div class="mb-3">
    <label for="exampleInputAmount" class="form-label">Сумма</label>
    <input type="Amount" class="form-control" id="exampleInputAmount" placeholder="скільки цьому чудіку" name="amount" value="{{ request.form.get('amount', '') }}">
  <div class="mb-3">
    <label for="exampleInputBorrower" class="form-label">Отримувач</label>
    <input type="Borrower" class="form-control" id="exampleInputBorrower" placeholder="бедняк" name="borrower" value="{{ request.form.get('borrower', '') }}">


  </div>
  <button type="submit" class="btn btn-primary"> Submit</button>
</form>

{% endblock %}

{% block checking %}
    {% for res in results %}
        <div class="result">

          block {{ res['block'] }} : {{ res['result'] }}

        </div>

    {% endfor %}


{% endblock %}